<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASxi-13gtjDZ1SjExwBOLzpCo6MuG8Dx4</string>
	<key>GCM_SENDER_ID</key>
	<string>747265858359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Splitr.max.Splitr</string>
	<key>PROJECT_ID</key>
	<string>splitr-82bc0</string>
	<key>STORAGE_BUCKET</key>
	<string>splitr-82bc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747265858359:ios:d120a4e79fa906429718b2</string>
</dict>
</plist>